.container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
}

.gap {
  width: 1280px;
  height: 40px;
  background-color: #f5f5f5;
}

.mypageLabel {
  width: 1280px;
  height: 36px;
  background-color: #e3f2fd;
}

.myprofile {
  width: 1280px;
  height: 332px;
  background-color: #fff3e0;
}

.tabs {
  width: 1280px;
  height: 40px;
  background-color: #f3e5f5;
}

.gapSmall {
  width: 1280px;
  height: 24px;
  background-color: #f5f5f5;
}

.searchbar {
  width: 1280px;
  height: 48px;
  background-color: #e8f5e9;
}

.listArea {
  width: 1280px;
  height: 656px;
  background-color: #fce4ec;
}
