.page {
  width: 100%;
  /* padding: 0 20rem; */
  gap: 2.5rem;
  display: flex;
  justify-content: center;
}

.seachBarEnroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  width: 80rem;
}
.seachBarEnroll__left {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.seachBar {
  display: flex;
  width: 40rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);
}
.seachBar__input {
  background: var(--gray-50, #f2f2f2);
  /* min-width: 8.75rem;   */
  width: 100%;
  border: none;
}
.seachBarButton {
  display: flex;
  width: 4rem;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--gray-B, #000);
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}
.submitButton {
  display: flex;
  width: 10.125rem;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #2974e5;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.rangePicker {
  display: flex;
  width: 18.0625rem;
  height: 3rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);
}
